<html ng-app>
  <head>
  </head>
  <body ng-controller="MainCtrl">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="data/escape_sequences.js"></script>
    <script src="data/colors.js"></script>
    <script src="js/app.js"></script>

    <script>
      console.log(escape_sequences)
    </script>

    <select ng-options="c.color for c in colors" ng-model="chosenColor">
    </select>
    <button ng-click="changeColor()">
      Change Color
    </button>

    <br />

    <select ng-options="v.desc for v in escape_sequences" ng-model="chosenDesc">
    </select>
    <button ng-click="addSequence()">
      Add Sequence
    </button>

    <br />

    <input ng-model="customText">
    </input>
    <button ng-click="addCustomText()">
      Add Custom Text (space if empty)
    </button>

    <br />
    <br />

    <textarea rows="1" cols="80" type="text">{{currentText}}</textarea>

    <br />
    <br />

    <button ng-click="clearText()">Clear</button>

    <button ng-click="testSelection()">Test button ... do not click. :)</button>

  </body>
</html>
